div
{
    background-color: rgb(172, 250, 249);
    padding: 20px;
    margin: 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    width:350px;
    height:450px;
    position:absolute;
    left:550px;
    top:50px;
   
}
button
{
    background-color: rgb(38, 183, 232);
    padding:2px;
    border:2px;
    width:70px;
    height:22px;
    border-style: outset;
    font-size: 10px;
}